assets-api-config/src/main/resources/generationSource/configuration/server.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="serverConfiguration">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="aemUrl"/>
                <xs:element type="xs:string" name="accessToken"/>
                <xs:element type="xs:int" name="timeout" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
